
*{
    font-family: Bahnschrift Condensed;
}
button{
    cursor: pointer;
}
.top-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5px;
    padding-bottom: 5px;
}
.author-name{
    border: 2px solid black;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid red;
    padding:10px;
}
#home{
    border:2px solid green;
}
#about{
    border:2px solid black;
}
.home-page{
    display: flex;
    justify-content: space-evenly;
    padding:100px;
    flex-wrap: wrap;
}
.home-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-picture{
    display: flex;
    justify-content:center;
}

.home-picture > img{
    width:80%;
    height: 100%;
}

.home-label .fullstack-label{
    font-size:3em;
}
.fb-lnked{
    background: #007bb5;
    color: white;
}

.github-btn{
    background-color: #333; /* Dark Gray or Black */
    color: white;  
}
.fb-lnked  , .github-btn{
    Padding: 15px 20px;
}
.social-btn{
    display:flex;
    justify-content: start;
    gap: 20px;
}
.download-button {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #333; /* Green background (you can change it) */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .download-button:hover {
    background-color: #555   ; /* Darker green on hover */
    transform: scale(1.05); /* Slightly larger on hover */
  }
  
  .download-button:active {
    background-color: #388e3c; /* Even darker green when clicked */
  }
  
/*  about me page */

.about-description{
    border:2px solid yellowgreen ;
    padding:150px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title-content{
    text-align: center;
    padding-left:250px;
    padding-right: 250px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:100px;
    padding: 0px 250px 250px 250px;
}


.cards > div{
    border:2px solid red;
    padding: 70px 70px 70px 70px;
}
.background-icon{
    width: 100%;        /* Make the image fill the width of the container */
    height: 100%;       /* Make the image fill the height of the container */
    object-fit: cover;  /* Ensures the image covers the area without distorting */
}


/* skill page */
.skill-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-page{
    border:2px solid orangered;
    display: grid;
    grid-template-columns: 20% 1fr;
    padding:100px;
}
.skills-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.front-end, .back-end{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

[class$="-skill"] {
    width:200px;
    padding-bottom: 100px;
  }