@media screen and (max-width:854px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .col-left .row{
        text-align: center;
    }
    .col-right .row{
        display: flex;
        justify-content: center;
    }
    .mainGIF{
        min-width: 300px;
    }
   
}
